html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome #{username}!
    h2 Thank you all for testing this! 
    p Future progress might be a little slow while I interview, but I promise in a week or two you should start seeing super cool visual updates. 
    p Feel free to email me any feedback at adamestela@gmail.com. 
    a(href='/createGoal') Create New Goal!
    
    ul
      each val in goals
        - var timerStarted = val.timerStart != 0;
        - var loggedDayHours = Math.trunc(val.loggedDayHours);
        - var loggedDayMinutes = Math.trunc((val.loggedDayHours * 60) % 60);
        - var loggedWeekHours = Math.trunc(val.loggedWeekHours);
        - var loggedWeekMinutes = Math.trunc((val.loggedWeekHours * 60) % 60);
        - var loggedTotalHours = Math.trunc(val.loggedTotalHours);
        - var loggedTotalMinutes = Math.trunc((val.loggedTotalHours * 60) % 60);
        - var totalDayHours = Math.trunc(val.totalHoursPerDay);
        - var totalDayMinutes = Math.trunc((val.totalHoursPerDay * 60) % 60);
        - var totalWeekHours = Math.trunc(val.totalHoursPerWeek);
        - var totalWeekMinutes = Math.trunc((val.totalHoursPerWeek * 60) % 60);
        - var totalGoalHours = Math.trunc(val.totalHoursToGoal);
        - var totalGoalMinutes = Math.trunc((val.totalHoursToGoal * 60) % 60);
        
        li 
          p
            b 
              u #{val.title}
          p= val.description
          p Day status: #{loggedDayHours}hrs #{loggedDayMinutes}min / #{totalDayHours}hrs #{totalDayMinutes}min
          p Week status: #{loggedWeekHours}hrs #{loggedWeekMinutes}min / #{totalWeekHours}hrs #{totalWeekMinutes}min
          if val.totalHoursToGoal >= 0
            p Total status: #{loggedTotalHours}hrs #{loggedTotalMinutes}min / #{totalGoalHours}hrs #{totalGoalMinutes}min
          
          if timerStarted
            a(href='/goal/' + val._id + '/toggleTimer') Stop Timer
            p === Recording goal! ===  
          else
            a(href='/goal/' + val._id + '/toggleTimer') Start Timer
           
          p
            a(href='/goal/' + val._id + '/edit') Edit Goal
             
    a(href='/signout') Log Out